*.elc
*.*~
*#
.#*#
*.pyc
*.lst
history
ac-comphist.dat
el-get/
elpa/
archive-contents
*~
old
ido.last
recentf
savehist
var/pcache
.cache/
.dap-breakpoints
.lsp-session-v1
.org-generic-id-locations
.org-id-locations
.python-environments/
anaconda-mode/
custom.el
elpy/
eshell/
image-dired/
init.el.mac
local/
mymac2-theme.el
oauth2-auto.plist
org-roam.db
request/
tags
transient/
url/cache/
url/cookies
persist/
projects
elpa2/
projectile-bookmarks.eld
projectile.cache
theme.el
tramp
bookmarks
quelpa/
