[submodule "site-lisp/pycscope"]
	path = site-lisp/pycscope
	url = https://github.com/portante/pycscope.git
[submodule "site-lisp/pony-mode"]
	path = site-lisp/pony-mode
	url = https://github.com/davidmiller/pony-mode.git
[submodule "site-lisp/nxhtml"]
	path = site-lisp/nxhtml
	url = https://github.com/emacsmirror/nxhtml.git
[submodule "site-lisp/deferred"]
	path = site-lisp/deferred
	url = https://github.com/medikoo/deferred.git
[submodule "site-lisp/grep-o-matic"]
	path = site-lisp/grep-o-matic
	url = https://github.com/ZungBang/emacs-grep-o-matic.git
[submodule "site-lisp/repository-root"]
	path = site-lisp/repository-root
	url = https://github.com/ZungBang/emacs-repository-root.git
[submodule "site-lisp/emacs-for-python"]
	path = site-lisp/emacs-for-python
	url = https://github.com/gabrielelanaro/emacs-for-python.git
